@import "compass/css3";

header,
footer {
  .inner {
    padding: 10px;
    margin-bottom: 50px;
  }
}

.container-fluid {
  margin-left: 0;
  max-width: 1300px;
}

img {
  max-width: 100%;
}

ul.item-list {
  list-style: none none;
  margin: 0;
  padding: 0;
}

.subsection {
  @include box-sizing(border-box);
  &.text-box {
    padding: 20px;
  }
}
