@import "vars";

body {
  background-color: $grey;
}

a {
  cursor: pointer;

  &.site-logo:hover {
    text-decoration: none;
  }
}

header {
  background: $black;
  color: $white;
}

.subsection {
  &.text-box {
    background-color: $white;
  }
}
