@import "vars";

// Blueberry.
.theme-blueberry {
  .title-box h1 {
    background-color: $blue;
    color: $white;
  }

  .text-box {
    h1,
    h2,
    h3,
    a {
      color: $blue;
    }
  }

  .link-box a.read-more {
    background-color: $red;
    color: $white;
  }

  .link-box.secondary a.read-more {
    background-color: $blueShade;
    color: $white;
  }
}

// Grape.
.theme-grape {
  .title-box h1 {
    background-color: $pinkShade;
    color: $white;
  }

  .text-box {
    h1,
    h2,
    h3,
    a {
      color: $pink;
    }
  }

  .link-box a.read-more {
    background-color: $purple;
    color: $white;
  }

  .link-box.secondary a.read-more {
    background-color: $pinkShade;
    color: $white;
  }
}

// Strawberry.
.theme-strawberry {
  .title-box h1 {
    background-color: $red;
    color: $white;
  }

  .text-box {
    h1,
    h2,
    h3,
    a {
      color: $red;
    }
  }

  .link-box a.read-more {
    background-color: $green;
    color: $white;
  }

  .link-box.secondary a.read-more {
    background-color: $emberRed;
    color: $white;
  }
}

// Mint.
.theme-mint {
  .title-box h1 {
    $background-color: $mintGreen;
    color: $white;
  }

  .text-box {
    h1,
    h2,
    h3,
    a {
      color: $mintGreen;
    }
  }

  .link-box a.read-more {
    background-color: $mintGreen;
    color: $white;
  }

  .link-box.secondary a.read-more {
    background-color: $green;
    color: $white;
  }
}
